.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none; /*to remove underline*/
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }
}
